<form  class="silver round-shadow gb-1rem">
<table class="w-100 border-table">
      <thead>
        <tr>
          <th class="w-50">Abilities</th>
          <th class="w-25" id="1to99">Rating</th>
          <th class="w-25" id="0to4">T. Stars</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span>Acceleration</span>
          </td>
          <td>
            <input type="number" value="50" id="Stat0" class="statInput justify-content-evenly align-items-center" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" id="Star0" class="statInput" min="1" max="99"  oninput="if(this.value > 4) this.value = 4; if(this.value == 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Agility</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="1to99" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value == 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Anticipation</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value == 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Bravery</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value == 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Chest Control</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value == 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Closing Down</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value == 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Composure</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value < 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Concentration</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value < 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Confidence</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value < 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Consistency</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value < 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Control</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value == 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Creativity</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value < 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Determination</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value < 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Dribbling</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value < 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Heading</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value < 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Jumping</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value < 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Leadership</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value < 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Pace</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value < 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Passing - Long</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value < 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Passing - Short</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value < 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Slide Tackling</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value < 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Strength - Body</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value < 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Strength - Leg</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value < 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Tackling</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value < 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Technique</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value < 0) this.value = 0;">
          </td>
        </tr>
        <tr>
          <td>
            <span>Volleying</span>
          </td>
          <td>
            <input type="number" value="50" name="Stat1" id="Stat1" class="statInput" min="1" max="99" oninput="if(this.value > 99) this.value = 99; if(this.value < 1) this.value = 1;">
          </td>
          <td>
            <input type="number" value="0" name="Star1" id="Star1" class="statInput" min="0" max="4" oninput="if(this.value > 4) this.value = 4; if(this.value < 0) this.value = 0;">
          </td>
        </tr>
        </tbody>
        </table>
  </form>
