<header class="w-100 h-5 d-flex justify-content-center align-items-center">
    <div class="app-header d-flex h-100 justify-content-center align-items-end divtest">
         <table class="w-header silver">
            <thead>
                <tr class="border-light">
                    <th><span class="u-none">Football Superstar 2 Calculator - Version 4.1</span></th>
                    <th><span class="u-none text-red">Extended Edition</span></th>
                    <th class="border-end-0 border-top-0 border-bottom-0 text-light"><span><a target="_blank" href="https://docs.google.com/document/d/1moa4Y0cdvgxHVHcpeSZSASZyR8kkM-6PHClNs2B3pfM/edit?usp=sharing">Made by DavidAugust25 and Friends</a></span></th>
                </tr>
            </thead>
         </table>
    </div>
    <div class="w-50 h-100 header-div divtest"></div>
</header>
