<form class="silver round-shadow gt-1rem">
                  <table class="w-100 border-table">
                    <tbody>
                    <tr>
                      <th class="fr7">Cash Required</th>
                      <th>$ 15,702,800</th>
                    </tr>
                    <tr>
                      <th>Experience Required</th>
                      <th>43,690xp</th>
                    </tr>
                    <tr>
                      <th>Reputation</th>
                      <th>61.57</th>
                    </tr>
                    <tr>
                      <th class="red-metal">Position</th>
                      <th><select name="position" id="playerPosition">
                        <option value="striker">Striker</option>
                        <option value="cmidfilder">C. Midfielder</option>
                        <option value="lmidfilder">L. Midfielder</option>
                        <option value="rmidfilder">R. Midfielder</option>
                        <option value="cdefender"> C. Defender</option>
                        <option value="ldefender">L. Defender</option>
                        <option value="rdefender">R. Defender</option>                        
                      </select></th>
                    </tr>
                   </tbody>
                  </table>
                  <table class="w-100 border-table">
                  <thead>
                    <tr>
                      <th colspan="3">In-Game Date</th>
                    </tr>
                    <tr>
                      <th><select name="" id=""></select></th>
                        <th><select name="" id=""></select></th>
                        <th><select name="" id=""></select></th>
                    </tr>
                  </thead>
                  <tbody>              
                  </tbody>
                  </table>
                </form>
