* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

element {
-ms-overflow-style: none; 
scrollbar-width: none; 
overflow-y: scroll; 
}

element::-webkit-scrollbar {
display: none;
}

/* Declaring all colours and vars for later use */

:root {
    --tableFontSize: 0.9rem;
    --tableMargin: 40px;
    --darkGrey: #434343;
    --lightGrey: #d9d9d9;
}

/* General styling */

html, body {
  overflow: hidden; 
  height: 100%;
  display: block;
  font-size: 14px;
}

header, main, footer {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-variation-settings:
    "wdth" 100;
    background-color: #274e13;
}

a {
     color: #d9d9d9 !important;
     user-select: none;
}
a:link {
    text-decoration: none;
}
a:hover {
    color: #f1c232 !important;
}

/* Styling the default view */

/* Materials */
.silver {
    background: linear-gradient(127deg, #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
    #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
    #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
    #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
    #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
    #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
    #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
    #d7d7d7, #c3c3c3, #cccccc, #c6c6c6);
    color: var(--darkGrey);
}

.green-screen tr:nth-child(odd) {
    color: #000 !important;
    background-color: #b6d7a8 !important;
}
.green-screen tr:nth-child(even) {
    color: #000 !important;
    background-color: #93c47d !important;
}
.green-screen th {
    line-height: 19px;
}

.text-red {
    color: #cc0000;
}

.text-light {
    font-family: "Merriweather", sans-serif;
    background-color: var(--darkGrey);
    border: 2.5px solid var(--lightGrey);
}

.border-light {
    border: 2.5px solid var(--lightGrey);
}

.black-yellow {
    background-color: #f1c232;
    border: 2.5px solid black;
    text-align: center;
    border-radius: 4px;
    line-height: 12px;
    font-size: 11px;
    font-weight: bold;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

.red-metal {
    background: linear-gradient(127deg, red);
    color: azure;
}

.round-shadow-sm {
    border-radius: 4px;
    overflow: hidden;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));   
}

.round-shadow {
    border-radius: 8px;
    overflow: hidden;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

.plastic {
    background-color: var(--darkGrey);
    color: var(--lightGrey);
}

/* Classes */

/*.divtest {
    border: 1px solid white;
}
  For testing css size properties  
*/

.app-header {
    width: 50%;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

.u-none {
    user-select: none;
}

.p-6-start-end {
    padding-left: 6px;
    padding-right: 6px;
}

.min-w-500 {
    width: 50%;
    min-width: 500px;
}

.w-1fr {
    width: 16.67%;
}

.w-35-3 {
    width: 35.3%;
    min-width: 188.5px;
    padding-left: 6px;
    padding-right: 6px;
}

.w-47-0 {
    width: 47%;
    min-width: 247px;
    padding-left: 6px;
    padding-right: 6px;
}

.w-2fr {
    width: 66.7%;
}

.w-80 {
    aspect-ratio: 5/6;
}

.w-header {
    width: 88.2%;
    min-width: 465px;
    font-size: 0.8vw;
    height: 60%;
    border-radius: 4px;
    overflow: hidden;
}

.w-header th {
   line-height: 100%;
   text-align: center;
}

.border-table tr, th, td, span, select {
    line-height: 19px;
}

.h-5 {
    height: 5%;
}

.h-1fr {
    height: 16.67%;
    max-height: 100px;
}

.h-80 {
    width: 70%;
    min-width: 500px;
}

.h-90 {
    height: 90%;
}

.gt-1rem {
margin-top: var(--tableMargin);
}

.gb-1rem {
margin-bottom: var(--tableMargin);
}

.fr7 {
    width: 58.33%;
}

.min-w-250 {
    overflow: hidden;
}

.border-table { 
width: 100%;
border-collapse: collapse; 
font-size: 0.9rem;
}

.min-w-250 select {
outline: var(--darkGrey);
width: 100%;
height: 100%;
border-collapse: collapse; 
text-align: center;
font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: var(--tableFontSize);
}

.min-w-250 th, td { 
text-align: center; 
border: 1px solid var(--darkGrey);
box-sizing: border-box;
}

.min-w-250 input[type=number] { 
width: 100%; 
box-sizing: border-box; 
text-align: center; 
font-size: var(--tableFontSize);
font-family: "Roboto", sans-serif;
font-weight: 600;
color: var(--darkGrey);
}

/* Responsivity */

@media (max-width: 1080px){
    html, body {
        overflow: visible;
        overflow-y: auto; 
        height: 140%;
    }
    .app-header {
        width: 100%;
    }
    .w-header {
        font-size: 1.4vw;
    }
    .header-div {
        display: none;
    }
    .h-5 {
        height: 4%;
    }
    .h-80 {
        width: 64%;
    }
    .h-90 {
        flex-direction: column;
        overflow-y: auto;
        height: 92%;
    }
    .min-w-500 {
        width: 100%;
    }

    /* Mobile table */

    .min-w-250 {
    display: block;
    overflow: hidden;
    }

    .border-table { 
    border-collapse: collapse; 
    font-size: 12px;
    }

    .min-w-250 th, td { 
    text-align: center; 
    }

    .min-w-250 input { 
    width: 100%; 
    box-sizing: border-box; 
    text-align: center; 
    font-size: 8px;
    }


}

@media all and (display-mode: fullscreen) and (min-width: 1081px) {
  .border-table tr, th, td, span, select {
    line-height: 22px;
}
.green-screen th {
  line-height: 22px;  
}
.h-80 {
    width: 80%;
}
.w-header {
        font-size: 0.7vw;
    }
}